[submodule "vendor/jison"]
	path = vendor/jison
	url = http://github.com/zaach/jison.git
[submodule "vendor/nodelint"]
	path = vendor/nodelint
	url = http://github.com/tav/nodelint.git
[submodule "vendor/test_it"]
	path = vendor/test_it
	url = http://github.com/DouglasMeyer/test_it.git
