[submodule "vendor/nodeunit"]
	path = vendor/nodeunit
	url = http://github.com/caolan/nodeunit.git
[submodule "vendor/jison"]
	path = vendor/jison
	url = http://github.com/zaach/jison.git
[submodule "vendor/nodelint"]
	path = vendor/nodelint
	url = http://github.com/tav/nodelint.js.git
